<a href="https://colab.research.google.com/github/shamsulalam1114/python101/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
def my_function():
  print("Hello from a function")
my_function()

Hello from a function

In [4]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [7]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Shamsul", "Alam")
my_function("Shamsul", "Alam")
my_function("Shamsul", "Alam")
my_function("Shamsul", "Alam")

Shamsul Alam
Shamsul Alam
Shamsul Alam
Shamsul Alam

In [11]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

def f1(*man):
  print("this is"  + man[1])
f1("shamsul", "alam", "shamsul")

The youngest child is Linus
this isalam

In [12]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [15]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [16]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

In [20]:
def my_function(x):
  return 5 * x


print(my_function(3))
print(my_function(5))
print(my_function(9))

2.6666666666666665
1.6
0.8888888888888888

In [21]:
def my_function(x, /):
  print(x)

my_function(3)

3

In [22]:
def my_function(x):
  print(x)

my_function(x = 3)

3

In [23]:
def my_function(*, x):
  print(x)

my_function(x = 3)

3

In [24]:
def my_function(x):
  print(x)

my_function(3)

3

In [27]:
def my_function(a, b, /, *, c, d):
  print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

26

In [28]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("Recursion Example Results:")
tri_recursion(6)

Recursion Example Results:
1
3
6
10
15
21

21