<a href="https://colab.research.google.com/github/shamsulalam1114/python101/blob/main/operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print(2**2)

4

In [4]:
x=4
y=2
print(x**y)
print(x//y)

16
2

In [1]:
x = 5

x >>= 3

print(x)

0

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)



print(x is y)



print(x == y)

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)



print(x is not y)



print(x != y)

In [ ]:
x = ["apple", "banana"]

print("banana" in x)

In [2]:
print(6 & 3)
print(6 | 3)
print(6 ^ 3)
print(~3)
print(3 << 2)
print(8 >> 2)
print(4 or 5 + 10 or 8)
print(6 | 2 + 1)

2
7
5
-4
12
2
4