<a href="https://colab.research.google.com/github/shamsulalam1114/python101/blob/main/pythonpractice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
print ("akash")

akash

In [18]:
if 5 > 2:
 print("Five is greater than two!")
if 5 < 7:
  print("Five is saller than seven!")

Five is greater than two!
Five is saller than two!

In [22]:
x=3
y="hello there"
print(x)
print(y)

3
hello there

In [38]:
"""
variables
"""
x = 4
y = "Sally"
print(x)
print(y)



x1= str(3)
y1= int(4)
z1= float(5)
print("the num is"+ x1 )
print(y1)
print(z1)

print(type(z1))
print(type(y1))
print(type(x1))

4
Sally
the num is3
4
5.0
<class 'float'>
<class 'int'>
<class 'str'>